@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FCFCFC;
  --background-start-hex: #202D3A;
  --background-end-hex: #131B23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #FCFCFC;
    --background-start-hex: #202D3A;
    --background-end-hex: #131B23;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(
      to bottom left,
      transparent,
      var(--background-end-hex)
    )
    var(--background-start-hex);
  background-attachment: fixed;
}

* {
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.05);
}

:focus {
  outline: 2px dashed #94FBAB;
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

:focus-visible {
  outline: 2px dashed #94FBAB;
  outline-offset: 3px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  margin: 4px 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  border: none;
}
