@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FCFCFC;
  --background-start-hex: #202D3A;
  --background-end-hex: #131B23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #FCFCFC;
    --background-start-hex: #202D3A;
    --background-end-hex: #131B23;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-hex);
  background: linear-gradient(
      to bottom left,
      transparent,
      var(--background-end-hex)
    )
    var(--background-start-hex);
  background-attachment: fixed;
}
